<h1>Wishin not Fishin</h1>

<h3>Make some wishes</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{id}}</p>
       <p>Wish: {{wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="longing"></textarea>

	<button type="submit">Submit</button>
</form>
