
<body>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="dropdown">

                <form action="/api/search/type/" method="GET">
                  <select class="form-select" aria-label="Default select example" name="type">
                    <option selected>All Categories</option>
                    <option value="Personal">Personal</option>
                    <option value="ProductReview">Product Review</option>
                    <option value="Political">Political</option>
                  </select>
                    <div class="card-action center-align">
                      <a id="postBtn" type="button" class="btn btn-danger" href="cms">POST</a>
                    </div>
                </form>

            </div>
          </div>
        </div>  

        <div class="row">

          <div class="col">
          </div>

          <div class="col" id="blogDisplay" action="/api/posts" method="get">
            <ul>
              {{#each results}}
                <li>
                  console.log(results)
                  <p><span class="label">Title:</span> {{this.title}}</p>
                  <p><span class="label">Body:</span> {{this.body}}</p>
                  <p><span class="label">Category:</span> {{this.category}}</p>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="col">
          </div>

        </div>
      </div>




</body>



{{#section 'script'}}

<script type="application/javascript">
document.addEventListener('DOMContentLoaded', (e) => {
  console.log('DOM loaded! 🚀');


let blogDisp = document.getElementById('blogDisplay')



const getPosts = (category) => {
  let categoryString = category || '';
  if (categoryString) {
    categoryString = categoryString.replace(' ', '');
    categoryString = `category/${categoryString}`;
  }
  console.log('category string =' & categoryString)

  fetch(`/api/posts/${categoryString}`, {
    method: 'GET',
    headers: {
      'Content-Type': 'application/json',
    },
  }).then((dbPost) => {
      console.log(dbPost);


      alert('figure it out')

    })
    .catch((error) => console.error('Error:', error));
};

getPosts()













})


</script>

{{/section}}




