
<body>
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="dropdown">

                <form action="/api/search/type/" method="GET">
                  <select class="form-select" aria-label="Default select example" name="type">
                    <option selected>All Categories</option>
                    <option value="Personal">Personal</option>
                    <option value="ProductReview">Product Review</option>
                    <option value="Political">Political</option>
                  </select>
                    <div class="card-action center-align">
                      <a id="postBtn" type="button" class="btn btn-danger" href="cms">POST</a>
                    </div>
                </form>

            </div>
          </div>
        </div>  

        <div class="row">

          <div class="col">
          </div>

          <div class="col" id="blogDisplay" action="/api/posts" method="get">
            <ul>
              {{#each results}}
                <li>
                  <p><span class="label">Title:</span> {{title}}</p>
                  <p><span class="label">Body:</span> {{body}}</p>
                  <p><span class="label">Category:</span> {{category}}</p>
                </li>
              {{/each}}
            </ul>
          </div>

          <div class="col">
          </div>

        </div>
      </div>




</body>

<p>Custom Script Section</p>

{{#section 'script'}}

<script type="application/javascript">

alert('sup yall')
</script>

{{/section}}




