
<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-sm-2 mt-4">
                    <a class="btn btn-light" href="/blog">Go to Blog</a>
                </div>
            </div>
            <div class="col-md-5 offset-md-3">
                <form id="cms">
                    <div class="form-group" id="formGroup">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control" id="title">
                        <br />
                        <label for="body">Body:</label>
                        <textarea class="form-control" rows="10" id="body"></textarea>
                        <div class="form-group">
                            <label for="category">Select Category:</label>
                            <select class="custom-select" id="category">
                                <option selected>Select Blog Entry Type</option>
                                <option value="Personal">Personal</option>
                                <option value="ProductReview">Product Review</option>
                                <option value="Political">Political</option>
                            </select>
                        </div>  
                        <br/>
                            <button type="submit" class="btn btn-success submit btn-lg" id="formButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script src="assets/js/cms.js"></script>

</body>


{{#section 'script'}}

<script type="application/javascript">
document.addEventListener('DOMContentLoaded', (e) => {
  console.log('DOM loaded! 🚀');
const newTitle = document.getElementById('title')
const newBody = document.getElementById('body')
const newCategory = document.getElementById('category')
const formSubmit = document.getElementById('cms')
const formBtn = document.getElementById('formButton')



formSubmit.addEventListener('submit', (e) => {
e.preventDefault()


const title = newTitle.value.trim()
const body = newBody.value.trim()
const category = newCategory.value
console.log(title)
console.log(body)
console.log(category)

const newPost = {
    title: title,
    body: body,
    category: category,
}

submitPost(newPost)

})

  const submitPost = (post) => {
    fetch('/api/posts', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(post),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log('Success in submitting post:', data);
        window.location.href = '/blog';
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  };


});

</script>

{{/section}}
