<h1>Quotes App</h1>

<p>Manage Quotes with this App</p>

<h2>Add a Quote</h2>

<form>
    <textarea id="author"></textarea>
    <textarea id="quote"></textarea>
    <button type="submit" id="submitBtn">Add Quote</button>
</form>

