<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
     <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <script src="/OngoingClassActivities/Quotes Exercise/public/assets/js/quotes.js"></script> 
    <title>Quoteless Joe</title>
</head>

<body>
    {{{body}}}
</body>


</html>